# Terraform states
*.tfstate
*.tfstate.*
.terraform.*

# Text editor backup files
*~

# Terraform Execution Plan Files
*.tfplan

# Terraform log files
terraform.log

# Terraform-specific directories that can be ignored
.terraform/

# Ongoing Projects

03-EKS-with-Ansible-AWX/
